[Unit]
Description=BAAI-CFTS Unsubscribe Flask App
After=network.target

[Service]
User=root
WorkingDirectory=/home/admin/baai_unsubscribe_V3
Environment="SMTP_HOST=smtp.qiye.aliyun.com"
Environment="SMTP_PORT=465"
Environment="SMTP_USER=你的发件邮箱@yourdomain.com"
Environment="SMTP_PASS=你的SMTP授权码"
Environment="NOTIFY_TO=你要接收退订通知的邮箱@yourdomain.com"
ExecStart=/usr/local/python3.10/bin/python3.10 -m gunicorn -w 4 -b 0.0.0.0:8000 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
